@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background: #F1F2F6;
}

/*BOUTON DE L'ACCEUIL*/
.btn-acc {
  display: inline-flex;
  width: 20rem;
  height: 5rem;
  text-decoration: none;
  background: #000;
  justify-content: center;
  align-items: center;
  color: #F1F1F1F1;
  margin: 1rem 0 0 0;
  border-radius: 0.2rem;
  font-size: 1.8rem;
}

.btn-acc1 {
  margin: 1rem 0 0 6rem;
}

.btn-acc2 {
  background: transparent;
  border: 0.2rem solid #000;
  color: #000;
  font-weight: 700;
}

.btn-rond {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 2rem;
  left: 6rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 #333;
  background: #333;
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.01);
  }
}
.logo-btn-rond-acc {
  width: 3.5rem;
}

@media screen and (max-width: 1000px) {
  .btn-acc1 {
    margin: 1rem 0 0 3rem;
  }

  .btn-rond {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .btn-rond-menu {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .btn-acc {
    width: 12rem;
    height: 4rem;
    font-size: 1.3rem;
    margin: 1rem 0 0 0.5rem;
  }

  .btn-acc1 {
    margin: 1rem 0 0 3rem;
  }
}
@media screen and (max-width: 450px) {
  .btn-rond-menu {
    width: 5rem;
    height: 5rem;
  }

  .btn-acc {
    width: 10rem;
    font-size: 1.2rem;
    height: 3.5rem;
    margin: 3rem 0 0 0.5rem;
  }
}
/*BOUTON DU PORTFOLIO*/
.btn-projets {
  display: block;
  margin: 1rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-projets::after {
  content: "";
  height: 24rem;
  width: 10rem;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  position: absolute;
  left: -15rem;
  top: -5rem;
  transform: rotate(-45deg);
}

.btn-projets:hover::after {
  transition: transform 0.3s 0.1s linear;
  transform: translateX(60rem);
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 10rem;
  padding-left: 30rem;
}

footer p {
  padding: 2rem;
  background-color: #004058;
  color: #FFF;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  footer {
    padding-left: 0rem;
  }
}
.container-form {
  margin: 0 auto;
  width: 70%;
  padding-left: 30rem;
}

.form-groupe {
  position: relative;
  display: flex;
  margin-bottom: 4.5rem;
}

.form-groupe label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #333;
  font-size: 2rem;
  transition: 0.4s ease-out;
}

.form-groupe input {
  display: block;
  width: 100%;
  padding: 1rem 0rem;
  border: none;
  outline: none;
  background: none;
  border-bottom: 0.3rem solid #004058;
  color: #000;
  font-size: 2rem;
  transition: 0.4s ease-out;
}

.form-groupe:nth-child(4) {
  margin-bottom: 2.5rem;
  justify-content: flex-start;
}

.form-groupe .button-sub {
  display: block;
  width: auto;
  padding: 1.5rem 6rem;
  border: 0.3rem solid #004058;
  border-radius: 99.9rem;
  background-image: linear-gradient(to right, transparent 50%, #29323c 50%, #485563);
  background-size: 200%;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
}

.form-groupe .button-sub:hover {
  color: #FFF;
  background-position: 100%;
  border: 0.3rem solid #000;
}

.accueil {
  background: url(../../img/font-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  min-height: 90rem;
  width: calc(100% - 30rem);
  margin-left: auto;
  position: relative;
}

h1 {
  font-size: 7rem;
  font-family: "Abril Fatface", sans-serif;
  margin: 0 6rem;
  padding-top: 21rem;
}

.txt-animation {
  font-size: 3rem;
  margin: 1rem 0 1rem 6rem;
}

.medias {
  display: flex;
  margin-left: 6rem;
  margin-top: 3rem;
}

.media {
  width: 6rem;
  height: 6rem;
  background: #004058;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.media2 {
  background: transparent;
  border: 2px solid #004058;
}

.icone-medias {
  width: 3rem;
}

@media screen and (max-width: 1300px) {
  .accueil {
    width: 100%;
    background-position: center;
  }
}
@media screen and (max-width: 1000px) {
  .accueil {
    height: 70rem;
    min-height: 0;
  }

  h1 {
    font-size: 7rem;
    margin: 0 3rem 0 3rem;
    padding-top: 10rem;
  }

  .media {
    margin-left: 3rem;
  }

  .accueil p {
    margin: 2rem 0 2rem 3rem;
  }
}
@media screen and (max-width: 700px) {
  .accueil {
    height: 60rem;
  }

  h1 {
    font-size: 5rem;
    margin: 0 3rem;
  }

  .accueil p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }

  .accueil p {
    font-size: 1.6rem;
  }

  .media {
    width: 4rem;
    height: 4rem;
  }

  .icone-medias {
    width: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .cont-ligne {
    width: 2rem;
    height: 3.8rem;
  }

  .ligne-unique {
    height: 0.3rem;
  }

  .ligne-unique::before {
    bottom: 0.8rem;
    height: 0.3rem;
  }

  .ligne-unique::after {
    top: 0.8rem;
    height: 0.3rem;
  }

  .accueil {
    height: 50rem;
  }

  h1 {
    margin: 0 3rem 0 0.5rem;
    padding-top: 12rem;
  }

  .accueil p {
    margin: 3rem 0 0 0.5rem;
  }

  .medias {
    margin-top: 3rem;
    margin-left: 0.5rem;
  }

  .icone-medias {
    width: 2rem;
  }
}
@media screen and (max-width: 380px) {
  .txt-animation {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}
@media screen and (max-width: 370px) {
  .txt-animation {
    font-size: 1.3rem !important;
  }
}
.nav-gauche {
  width: 30rem;
  height: 100vh;
  min-height: 80rem;
  background: #004058;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px dashed #F1F1F1F1;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
.nav-gauche .blocs-menu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-gauche .nav-menu-item {
  font-size: 1.9rem;
  text-align: center;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}
.nav-gauche .nav-menu-item a {
  text-decoration: none;
  color: #FFF;
}
.nav-gauche .nav-menu-item::after {
  content: "";
  display: block;
  width: 0rem;
  margin: 0.5rem auto 0 auto;
  height: 0.2rem;
  border-radius: 0.2rem;
  background: #FFF;
  transition: all 0.2s ease-out;
}
.nav-gauche .nav-menu-item:hover::after {
  width: 100%;
  color: #F1F1F1F1;
}
.nav-gauche .blocs-menu:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #004058;
}
.nav-gauche .cercle-avatar {
  margin: 2rem 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: relative;
  box-shadow: 0.6rem 0.6rem 1.3rem #23798E, -0.6rem -0.6rem 1.3rem #66ACAE;
}
.nav-gauche .cercle-avatar img {
  width: 14rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-gauche .cercle-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.nav-gauche .cercle-logo img {
  width: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1300px) {
  .nav-gauche {
    left: -30rem !important;
    width: 25rem;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu-visible {
    left: 0rem !important;
  }

  .blocs-menu:nth-child(1) {
    display: none;
  }

  .blocs-menu:nth-child(7) {
    display: none;
  }

  .btn-rond-menu {
    width: 7rem;
    height: 7rem;
    border: 1px solid #F1F1F1F1;
    border-radius: 50%;
    background: #004058;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }

  .cont-ligne {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne-unique {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: #F1F1F1F1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ligne-unique::before {
    content: "";
    position: absolute;
    bottom: 1rem;
    background: #F1F1F1F1;
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
  }

  .ligne-unique::after {
    content: "";
    position: absolute;
    top: 1rem;
    background: #F1F1F1F1;
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
  }

  .cont-ligne.active .ligne-unique::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
  }

  .cont-ligne.active .ligne-unique {
    background: transparent;
  }

  .cont-ligne.active .ligne-unique::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
  }
}
.section-contact {
  width: 100%;
  height: auto;
}

.section-contact h2 {
  text-align: center;
  color: #000;
  font-size: 5.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
  padding: 7rem 0 0 30rem;
}

.section-contact h2 strong {
  font-weight: 900;
}

.mail {
  text-align: center;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 5rem;
  background-color: #000;
  border-radius: 50rem;
  text-decoration: none;
}

a.cv-telecharger {
  text-align: center;
  color: #004058;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 180px;
}

textarea {
  width: 100%;
  height: 20rem;
  border: none;
  border: 0.2rem solid #004058;
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: none;
  outline: none;
  font-size: 2rem;
  transition: 0.4s all ease-out;
  background: #F1F1F1F1;
}

textarea::placeholder {
  font-size: 2rem;
  opacity: 0.5;
}

textarea:focus {
  border-color: #000;
}

@media screen and (max-width: 1300px) {
  .section-contact h2 {
    padding: 7rem 0 0 0;
  }

  .container-form {
    padding-left: 0;
  }

  .form-groupe:nth-child(4) {
    justify-content: center;
  }
}
@media screen and (max-width: 570px) {
  .section-contact h2 {
    padding: 7rem 0 0 0;
    font-size: 5rem;
  }

  .mail {
    font-size: 2rem;
  }
}
@media screen and (max-width: 520px) {
  .mail {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 500px) {
  .mail {
    font-size: 2rem;
  }
}
@media screen and (max-width: 340px) {
  .mail {
    font-size: 1.4rem;
  }
}
/*ANIMATION*/
.form-groupe:focus-within label,
.form-groupe.animation label {
  top: 0rem;
  transform: translateY(-100%);
  color: #004058;
}

/*SECTION PRESENTATION*/
.presentation {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  color: #FFF;
}

.fond-forme {
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  width: 230rem;
  height: 100rem;
  position: absolute;
  z-index: -1;
}

.titre-pres {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0 7rem 0;
  padding-left: 30rem;
}

.container-presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 13rem 0;
  flex-shrink: 0;
  padding-left: 20rem;
}

.pres-gauche {
  width: 60rem;
  flex-shrink: 0;
  margin-bottom: 5rem;
  padding-left: 20rem;
  padding-top: 2rem;
}

.pres-gauche h3 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.pres-gauche hr {
  width: 6rem;
  margin: 0 auto 2rem auto;
}

.pres-gauche p {
  text-align: justify;
  font-size: 1.4rem;
}

.pres-droite {
  width: 60rem;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}

.liste-presentation {
  list-style-type: none;
  padding: 1rem 0 5rem 11rem;
}

.chiffre-style {
  font-family: "Abril Fatface", sans-serif;
  font-size: 4rem;
  color: #E7E7E7;
}

.txt-liste {
  font-size: 2.7rem;
  display: inline;
}

@media screen and (max-width: 1300px) {
  .container-presentation {
    padding-left: 0rem;
  }

  .titre-pres {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 1100px) {
  .fond-forme {
    width: 100%;
    height: 150%;
    transform: rotate(0) translateY(0) translateX(0);
  }

  .titre-pres {
    margin: 0 0 2rem 0;
    padding-top: 5rem;
  }

  .container-presentation {
    flex-direction: column;
  }

  .pres-gauche {
    width: 80%;
    flex-shrink: 1;
    margin-bottom: 1rem;
    padding: 20px 0;
  }

  .pres-gauche h3 {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .pres-gauche p {
    font-size: 1.2rem;
  }

  .pres-droite {
    width: 80%;
    flex-shrink: 1;
  }

  .liste-presentation {
    padding: 0 0;
  }
}
@media screen and (max-width: 700px) {
  .container-presentation {
    margin-top: 1rem;
    margin-bottom: 7rem;
  }

  .titre-pres {
    font-size: 2rem;
    margin: 0 1rem;
  }

  .pres-gauche h3 {
    font-size: 1.5rem;
  }

  .chiffre-style {
    font-size: 3rem;
  }

  .txt-liste {
    font-size: 1.7rem;
  }
}
/*SECTION PORTFOLIO*/
.portfolio {
  width: 100%;
}

.titre-port {
  text-align: center;
  padding: 5rem 0;
  font-size: 5rem;
  padding-left: 30rem;
}

.cont-portfolio {
  width: 100%;
  height: auto;
  margin: 0 auto 10rem auto;
  padding-left: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 2rem;
  width: 42rem;
  height: 42rem;
  background: #f0f2f0;
  color: #333;
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.item:hover {
  transform: translateY(-0.5rem);
}

.cont-img-port {
  width: 100%;
  height: 22rem;
  overflow: hidden;
}

.cont-img-port img {
  width: 100%;
  height: auto;
}

.item h3 {
  padding: 1rem 1rem 0;
  font-size: 2.2rem;
  text-align: center;
}

.item p {
  padding: 1rem 1rem 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 1300px) {
  .cont-portfolio {
    padding-left: 0;
  }

  .titre-port {
    font-size: 4rem;
    margin: 5rem 0 7rem;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .titre-port {
    margin: 1rem 0;
    padding: 3rem 0;
  }

  .item {
    height: 45rem;
  }

  .cont-img-port {
    height: auto;
  }
}
@media screen and (max-width: 340px) {
  .item {
    height: 42rem;
  }
}
/*SECTION RANGE/COMPETENCE*/
.section-range {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20rem;
  border-bottom: 1px dashed #333;
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  color: #FFF;
  position: relative;
  z-index: -1;
}

.range-cont {
  position: relative;
}

.titre-exp {
  font-size: 4rem;
  text-align: center;
  margin: 8rem 0 9rem 0;
  padding-left: 30rem;
}

.grille-skill {
  display: grid;
  grid-template: repeat(3, 8rem)/repeat(2, 50rem);
  grid-gap: 5rem;
  padding-left: 30rem;
}

.barre-skill {
  height: 1.5rem;
  background: #6e80bd;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.barre-grises {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 50rem;
  height: 1.5rem;
  background: #d8d8d8;
  border-radius: 0.5rem;
}

.b1 {
  width: 96%;
}

.b2 {
  width: 80%;
  background: #74bbe4;
}

.b3 {
  width: 80%;
  background: #74bbe4;
}

.b4 {
  width: 90%;
}

.b5 {
  width: 70%;
}

.b6 {
  width: 80%;
  background: #74bbe4;
}

.label-skill {
  font-size: 2.4rem;
}

.number-skill {
  font-size: 1.6rem;
}

@media screen and (max-width: 1400px) {
  .grille-skill {
    grid-template: repeat(3, 8rem)/repeat(2, 45rem);
  }

  .barre-grises {
    width: 45rem;
  }
}
@media screen and (max-width: 1300px) {
  .section-range {
    padding-left: 0;
  }

  .titre-exp {
    padding-left: 0;
  }

  .grille-skill {
    grid-template: repeat(6, 8rem)/60rem;
    padding-left: 0;
  }

  .barre-grises {
    width: 60rem;
  }
}
@media screen and (max-width: 700px) {
  .grille-skill {
    grid-template: repeat(6, 8rem)/40rem;
  }

  .barre-grises {
    width: 40rem;
  }
}
@media screen and (max-width: 450px) {
  .section-range {
    padding-bottom: 10rem;
  }

  .titre-exp {
    font-size: 3rem;
    margin: 5rem 0 6rem 0;
  }

  .label-skill {
    font-size: 2rem;
  }

  .grille-skill {
    grid-template: repeat(6, 8rem)/30rem;
    grid-gap: 4rem;
  }

  .barre-grises {
    width: 30rem;
  }
}
/*SECTION EXPERIENCE*/
.travail-exp {
  width: calc(100% - 30rem);
  height: auto;
  margin-left: auto;
  padding-bottom: 10rem;
}

.titre-travail-exp {
  text-align: center;
  margin: 7rem 0;
  font-size: 4rem;
  color: #333;
}

.cont-exp-travail {
  position: relative;
  display: flex;
  justify-content: center;
}

.barre-verticale {
  height: 100rem;
  width: 5px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -3rem;
}

.boule-ico {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #333;
  background: #F1F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boule-ico img {
  width: 2.5rem;
}

.flex-cont-bloc-exp {
  width: 80rem;
  flex-shrink: 1;
  height: 100rem;
  position: relative;
}

.bloc {
  width: 100%;
  height: 20rem;
  margin-bottom: 3.45rem;
  cursor: pointer;
  border: 1px solid #333;
  position: relative;
}

.contenu-bloc {
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: white;
  transition: transform 0.25s ease-in-out;
  position: relative;
  transform: translate(1rem, -1rem);
}

.contenu-bloc:hover {
  transform: translate(0, 0);
}

.bloc1 {
  background: #fb97a0;
}

.bloc2 {
  background: #bfe2ca;
}

.bloc3 {
  background: #a6daef;
}

.bloc4 {
  background: #d0e2ec;
}

.titre-section-bloc {
  font-family: "Abril Fatface", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.txt-section {
  font-size: 1.6rem;
  text-align: justify;
}

h4 {
  font-size: 2rem;
  font-style: italic;
}

@media screen and (max-width: 1300px) {
  .travail-exp {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .barre-verticale {
    height: 100rem;
    margin-left: 6rem;
  }

  .bloc {
    height: 20rem;
    margin-bottom: 3.75rem;
  }

  .flex-cont-bloc-exp {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .bloc {
    height: 25rem;
    margin-bottom: 3.75rem;
  }

  .barre-verticale {
    height: 120rem;
    margin-left: 6rem;
  }
}
@media screen and (max-width: 520px) {
  .txt-section {
    font-size: 1.6rem;
    text-align: justify;
  }

  .bloc {
    height: 30rem;
    margin-bottom: 3.75rem;
  }

  .barre-verticale {
    height: 140rem;
    margin-left: 6rem;
  }
}
@media screen and (max-width: 380px) {
  .txt-section {
    font-size: 1.5rem;
    text-align: justify;
  }

  .bloc {
    height: 35rem;
    margin-bottom: 3.75rem;
  }

  .barre-verticale {
    height: 160rem;
    margin-left: 6rem;
  }
}
/* SECTION PARALAX*/
.section-parallax {
  width: 100%;
  height: 25rem;
  background: url(../../img/font-4.jpg) no-repeat right/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
}

.txt-par {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0 5rem;
}

.txt-par:nth-child(1) {
  padding-left: 30rem;
}

@media screen and (max-width: 1300px) {
  .txt-par {
    font-size: 2.5rem;
    margin: 0 3rem;
  }

  .txt-par:nth-child(1) {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 700px) {
  .txt-par {
    font-size: 2.2rem;
    margin: 0 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  .section-parallax {
    flex-direction: column;
  }

  .txt-par {
    font-size: 2.5rem;
    margin: 2rem 0rem;
  }
}

/*# sourceMappingURL=styles.css.map */
