footer {
    width: 100%;
    text-align: center;
    padding-top: 10rem;
    padding-left: 30rem;
    
}
footer p{
    padding: 2rem;
    background-color: $colorBleu;
    color: $colorBlanche;
    font-weight: 400;
}
@media screen and (max-width: 1300px) {
    footer {
        padding-left: 0rem;
    }
}
