.nav-gauche{
    width: 30rem;
    height: 100vh;
    min-height: 80rem;
    background: $colorBleu;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px dashed $colorGris;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    .blocs-menu{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu-item{
        font-size: 1.9rem;
        text-align: center;
        position: relative;
        font-weight: 700;
        cursor: pointer;
    }
    .nav-menu-item a{
        text-decoration: none;
        color: $colorBlanche;
    }
    .nav-menu-item::after{
        content: '';
        display: block;
        width: 0rem;
        margin: 0.5rem auto 0 auto;
        height: 0.2rem;
        border-radius: 0.2rem;
        background: $colorBlanche;
        transition: all 0.2s ease-out;
    }
    .nav-menu-item:hover::after{
        width: 100%;
        color: $colorGris;
    }
    .blocs-menu:nth-child(1){
        width: 100%;
        height: 25%;
        background: $colorBleu;
    }
    .cercle-avatar{
        margin: 2rem 0;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        position: relative;
        box-shadow: 0.6rem 0.6rem 1.3rem #23798E, 
                    -0.6rem -0.6rem 1.3rem #66ACAE;
    }
    .cercle-avatar img{
        width: 14rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cercle-logo{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        position: absolute;
        
        cursor: pointer;
    }
    .cercle-logo img{
        width: 6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 1300px) {
    .nav-gauche{
        left: -30rem!important;
        width: 25rem;
        min-height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-visible{
        left: 0rem!important;
    }
    .blocs-menu:nth-child(1){
        display: none;
    }
    .blocs-menu:nth-child(7){
        display: none;
    }
    .btn-rond-menu{
        width: 7rem;
        height: 7rem;
        border: 1px solid $colorGris;
        border-radius: 50%;
        background: $colorBleu;
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 10;
    }
    .cont-ligne{
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ligne-unique{
        width: 100%;
        height: 0.4rem;
        border-radius : 0.5rem;
        background: $colorGris;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ligne-unique::before{
        content: '';
        position: absolute;
        bottom: 1rem;
        background: $colorGris;
        width: 100%;
        height: 0.4rem;
        border-radius: 0.5rem;
    }
    .ligne-unique::after{
        content: '';
        position: absolute;
        top: 1rem;
        background: $colorGris;
        width: 100%;
        height: 0.4rem;
        border-radius: 0.5rem;
    }
    .cont-ligne.active .ligne-unique::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease;
    } 
    .cont-ligne.active .ligne-unique {
        background: transparent;
    }
    .cont-ligne.active .ligne-unique::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms ease, transform 300ms 300ms ease;
    } 
}