@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */ 
}
body{
    font-family: "Poppins", sans-serif;
    background: #F1F2F6;
}