.section-contact {
    width: 100%; 
    height: auto;
}
.section-contact h2 {
    text-align: center;
    color: $colorNoir;
    font-size: 5.8rem;
    font-weight: 400;
    margin-bottom: 5rem;
    padding: 7rem 0 0 30rem;
}
.section-contact h2 strong {
    font-weight: 900;
}

.mail {
    text-align: center;
    color: $colorBlanche;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 5rem;
    background-color: $colorNoir;
    border-radius: 50rem;
    text-decoration: none;
}

a.cv-telecharger {
    text-align: center;
    color: $colorBleu;
    font-size: 2.5rem;
    font-weight: 700;
    // padding: 0 5rem 0 5rem;
    margin: 180px;
}

textarea {
    width: 100%;
    height: 20rem;
    border: none;
    border: 0.2rem solid $colorBleu;
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
    outline: none;
    font-size: 2rem;
    transition: 0.4s all ease-out;
    background: $colorGris;
}
textarea::placeholder {
    font-size: 2rem;
    opacity: 0.5;
}
textarea:focus {
    border-color: $colorNoir;
}


@media screen and (max-width: 1300px) {
    .section-contact h2 {
        padding: 7rem 0 0 0;
    }
    .container-form{
        padding-left: 0;
    }
    .form-groupe:nth-child(4){
        justify-content: center;
    }
}
@media screen and (max-width: 570px){
    .section-contact h2 {
        padding: 7rem 0 0 0;
        font-size: 5rem;
    }
    .mail{
        font-size: 2rem;
    }
}
@media screen and (max-width: 520px){
    .mail{
        font-size: 1.9rem;
    }
}
@media screen and (max-width: 500px){
    .mail{
        font-size: 2rem;
    }
}
@media screen and (max-width: 340px){
    .mail{
        font-size: 1.4rem;
    }
}

/*ANIMATION*/

.form-groupe:focus-within label,
.form-groupe.animation label {
    top: 0rem;
    transform: translateY(-100%);
    color: $colorBleu;
}